{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}geoFluxus | Login{% endblock %}

{% block content %}
{% render_bundle 'Login' %}
<div class="container">
  <div class="row">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">

        <div class="card-body px-4">
          <h5 class="card-title text-center mt-4 text-white">Login</h5>
          <form class="form-signin w-100" method="post" action="/login/?next={{next}}">
            {% csrf_token %}
            <div class="form-label-group">
              <input id="id_username" name="username" placeholder="Gebruikersnaam" type="text"
                class="form-control text-center mb-1">
              <input id="id_password" name="password" placeholder="Wachtwoord" type="password"
                class="form-control text-center">
            </div>

            {% if form.errors %}
            <div class="alert alert-danger text-center">
              <small>
                Username and password didn't match.
              </small>
            </div>
            {% endif %}

            <button class="btn btn-primary btn-block text-uppercase mx-auto" type="submit"
              style="width: 15rem">Inloggen</button>

            <div class="mt-4" style="text-align: center">
              <span style="color: white; font-size: small;">
                Wachtwoord opnieuw instellen? Klik <a href="/password_reset" style="color: #007bff;">hier</a>
              </span>
            </div>


            <!-- Temporary contact info -->
            <div class="mt-4" style="text-align: center">
              <script type="text/javascript">
                function openMailer(element) {
                  element.setAttribute("href", "mailto:info@geofluxus.com");
                  element.setAttribute("onclick", "");
                  element.firstChild.nodeValue = "geoFluxus";
                };
              </script>
              <span style="color: white; font-size: small;">
                Toegang tot dit platform is beperkt tot geautoriseerde gebruikers.
                Als je toegang wilt verkrijgen, neem dan contact op met <a id="email" style="text-decoration: underline;" href=" "
                  onclick='openMailer(this);'>geoFluxus</a> en voeg je motivatie toe.
              </span>
            </div>



          </form>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}