{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}geoFluxus | Login{% endblock %}

{% block content %}
{% render_bundle 'Login' %}
<div class="container">
  <div class="row">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">

        <div class="card-body px-4">
          <h5 class="card-title text-center mt-4 text-white">Login</h5>
          <form class="form-signin w-100" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-label-group">
              <input id="id_username" name="username" placeholder="Username" type="text"
                class="form-control text-center mb-1">
              <input id="id_password" name="password" placeholder="Password" type="password"
                class="form-control text-center">
            </div>

            {% if form.errors %}
            <div class="alert alert-danger text-center">
              <small>
                Username and password didn't match.
              </small>
            </div>
            {% endif %}

            <button class="btn btn-primary btn-block text-uppercase mx-auto" type="submit"
              style="width: 15rem">Submit</button>


            <!-- Temporary contact info -->
            <div class="mt-4" style="text-align: center">
              <script type="text/javascript">
                function decode(a) {
                  return a.replace(/[a-zA-Z]/g, function (c) {
                    return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ?
                      c : c - 26);
                  })
                };

                function openMailer(element) {
                  var y = decode("znvygb:e.fvyrelgr@ghqrysg.ay");
                  element.setAttribute("href", y);
                  element.setAttribute("onclick", "");
                  element.firstChild.nodeValue = "Rusne Sileryte";
                };
              </script>
              <span style="color: white; font-size: small;">Access to this platform is limited to authorised users only.
                If you wish to
                obtain access, please contact <a id="email" style="text-decoration: underline;" href=" "
                  onclick='openMailer(this);'>Rusne Sileryte</a> and
                include your motivation.</span>
            </div>



          </form>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}