asgiref==3.2.7
bcrypt==3.2.0
boto3==1.17.78
botocore==1.20.78
certifi==2020.12.5
cffi==1.14.3
chardet==4.0.0
cryptography==3.1.1
Django==3.0.6
django-pandas==0.6.1
django-webpack-loader==0.6.0
djangorestframework==3.10.3
djangorestframework-datatables==0.5.2
djangorestframework-gis==0.15
drf-nested-routers==0.91
et-xmlfile==1.0.1
geojson==2.5.0
gunicorn==20.0.4
idna==2.10
jdcal==1.4.1
Jinja2==2.10.3
jmespath==0.10.0
MarkupSafe==1.1.1
numpy==1.17.4
openpyxl==3.0.2
pandas==0.25.3
paramiko==2.7.2
psycopg2-binary==2.8.4
pycparser==2.20
PyNaCl==1.4.0
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.4.2
Shapely==1.7.0
six==1.13.0
sqlparse==0.3.0
sshtunnel==0.1.5
urllib3==1.26.4
xlrd==1.2.0
