<!--Flows-->

<!--Filter editing-->
<script type="text/template" id="flows-template">
    <div id="filterViewContainer">
        <div class="card bg-dark">
            <div class="card-header" id="ch-filterViews">
                <h4 class="mb-0 panel-title">
                    <button class="btn btn-link collapsingHeaderButton collapsed" id="btn-filterViews"
                            data-toggle="collapse" data-target="#collapseFilterViews" aria-expanded="false"
                            aria-controls="collapseFilterViews" data-parent="#filterViewContainer">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Saved Filters
                    </button>
                </h4>
            </div>
            <div id="collapseFilterViews" class="collapse" data-parent="#filterViewContainer">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="row">
                                <select name="filter" class="form-control form-control-sm">
                                    <option value="none">No saved filters found.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <button class="btn btn-primary btn-sm" title="Edit filter"
                                        style="margin-right: 10px; width: 6em;"
                                        id="edit-flowfilter-button">Edit
                                </button>
                                <button class="btn btn-primary btn-sm" title="Create filter"
                                        style="margin-right: 10px; width: 6em;"
                                        id="new-flowfilter-button">New
                                </button>
                                <button class="btn btn-warning btn-sm" title="Delete filter"
                                        style="background-color: red; color:white; border: red; width: 6em;"
                                        id="delete-flowfilter-button">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="filter-attributes">
                        <div class="col-sm">
                            <div class="row">
                                <input class="form-control form-control-sm" id="filterName" name="filterName"
                                       placeholder="Name">
                            </div>
                            <div class="row">
                                <input class="form-control form-control-sm" id="filterDescription"
                                       name='filterDescription'
                                       placeholder="Description">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <button id='upload-flowfilter-button' title="Save filter"
                                        class="btn btn-sm btn-danger btn-upload">
                                    <span class="fas fa-arrow-circle-up" style="margin-right:10px;"></span>Save Changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="flows-content"></div>
</script>

<!--Filters-->
<script type="text/template" id="filter-flows-template">
    <div class="block accordion" id="filterBlock">
        <h4 style="padding-bottom: 0.5em; padding-top: 1em">Filters</h4>

        <!-- ORIGIN CONTROLS -->
        <div class="card bg-dark">
            <div class="card-header" id="card-header-collapse-origin">
                <h4 class="mb-0">
                    <button class="btn btn-link collapsingHeaderButton" id="btn-collapse-header-origin"
                            data-toggle="collapse" data-target="#collapseOriginBlock" aria-expanded="true"
                            aria-controls="collapseOriginBlock">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Origin
                    </button>
                </h4>
                <!--                <a  float="left" class="help-icon fas fa-question-circle" data-toggle="popover" title="Activities and Actors Filter"-->
                <!--                   data-html="true" tabindex="0"-->
                <!--                   data-content='Filter the flows between activity groups, activities and actors'>-->
                <!--                </a>-->
            </div>

            <div id="collapseOriginBlock" class="collapse show" aria-labelledby="card-header-collapse-origin"
                 data-parent="#filterBlock">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <label for="area-select-button-origin">You can limit the origin of the waste flows to geographic areas:</label>
                            <button id="area-select-button-origin" class="btn btn-sm btn-primary area-select-button mt-2" data-width="100%"
                                    style="width: 13em" data-area-select-block="origin">Select areas
                            </button>
                        </div>          
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-10">
                            <div style="display: block;">
                                <label for="area-select-button-origin" style="display: inline-block;">The origin of the flows must be</label>
                                <div class="checkbox in-or-out-container" style="display: inline-block; height: 24px !important; margin-left: 0.5rem; margin-right: 0.5rem;">
                                    <input name="in-or-out" id="origin-area-in-or-out" type="checkbox"
                                        data-height="15" data-toggle="toggle" data-on="outside"
                                        data-off="within"
                                        class="in-out-toggle">
                                    <label for="area-select-button-origin" style="display: inline-block;">the selected area(s).</label>    
                                </div>
                            </div>
                            
                            <!-- <a class="help-icon fas fa-question-circle" data-toggle="popover" title="Filter by Areas"
                               data-html="true" tabindex="0"
                               data-content="
                                Clicking the <b>Select areas</b> button opens a dialog where areas may be selected and confirmed.<br>
                                On confirmation the selected areas are used to limit the Actors to those located inside these areas.<br><br>
                                This filter is complementary to the other activities and actors filters.">
                            </a> -->
                        </div>
                    </div>
                    
               
                    
                    <div class='row' id="areaSelectionsOrigin" style="display: none;">
                        <div class="col-md-4">
                            <!-- <label for="areaSelectionsOriginTextarea">Selected areas:</label> -->
                            <textarea class="form-control-sm textarea-autosize selections" id="areaSelectionsOriginTextarea" style="width: 100% !important; display: inline-block" type="text" readonly></textarea>
                            <button
                                id="clear-origin-areas-button"
                                class="btn btn-sm btn-primary clear-areas-button"
                                data-area-clear-button="origin"
                                >
                                <i class="fas fa-times"></i>
                            </button>
                        </div>                        
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <label for="origin-role-select">Origin role</label>
                            <a class="help-icon fas fa-question-circle" data-toggle="popover"
                            title="Role of the Actor"
                            data-html="true" tabindex="0"
                            data-content='This filter allows you to filter the flows based on the role of the actor. '>
                            </a>
                            <select id="origin-role-select" name="origin-role" class="form-control form-control-sm selectpicker"
                                    data-dropup-auto="false"
                                    data-size="6">
                                <option value='any' selected>Both roles</option>
                                <option data-divider="true"></option>
                                <option value='production'>Waste production</option>
                                <option value='treatment'>Waste treatment</option>
                            </select>
                        </div>
                    </div>

                    <div class="row originContainerActivity" style="display: none;">
                        <div class="col-md-4">
                            <label for="origin-toggleFilterLevel">Filter level</label>
                            <div class="checkbox">
                                <input name="filter-level-select" id="origin-toggleFilterLevel" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Activities"
                                    data-off="Activity groups">
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>

                    <div class="row originContainerActivity" style="display: none;">
                        <div class="col-md-4">
                            <label for="origin-activitygroup-select">Activity group</label>
                            <select id="origin-activitygroup-select" name="origin-activitygroup-select" multiple
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true"
                                    data-dropup-auto="false"
                                    data-size="6"
                                    style="resize: vertical;">
                                <option selected value="-1">All (<%= activityGroups.count %>)</option>
                                <option data-divider="true"></option>
                                <% activityGroups.forEach(function(activitygroup){ %>
                                <option value="<%= activitygroup.id %>"><%= activitygroup.get('name') %> (<%=
                                    activitygroup.get('flow_count') %> <%= (activitygroup.get('flow_count') == 1) ?
                                    'flow' : 'flows' %>)
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="col-md-4 activitySelectContainer activitySelectContainerOrigin" style="display: none">
                            <label for="origin-activity-select">Activity</label>
                            <i class="fas fa-angle-double-right" id="activitySelectChevron"></i>
                            <select id="origin-activity-select" name="origin-activity-select" multiple
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true"
                                    data-dropup-auto="false" data-size="6" style="resize: vertical;">
                                <option selected value="-1">All (<%= activities.count %>)</option>
                                <option data-divider="true"></option>
                                <% activities.forEach(function(activity){ %>
                                <option value="<%= activity.id %>"><%= activity.get('name') %> (<%=
                                    activity.get('flow_count') %> <%= (activity.get('flow_count') == 1) ? 'flow' :
                                    'flows' %>)
                                </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>

                    <div class="row originContainerTreatmentMethod" style="display: none;">
                        <div class="col-md-4">
                            <label for="origin-process-select">Treatment method</label>
                            <select name="origin-process-select" id="origin-process-select" multiple
                            class="form-control form-control-sm selectpicker"
                            data-live-search="true"
                            data-size="6"
                            style="resize: vertical;">
                            <option selected value="-1">All (<%= processes.count %>)</option>
                            <option data-divider="true"></option>
                            <% processes.forEach(function(process){ %>
                                <option value="<%= process.id %>"> <%= process.get('name') %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>


                        
                </div>
            </div>

        </div>

        <!-- DESTINATION CONTROLS -->
        <div class="card bg-dark">
            <div class="card-header" id="card-header-collapse-destination">
                <h4 class="mb-0">
                    <button class="btn btn-link collapsed collapsingHeaderButton" id="btn-collapse-header-destination"
                            data-toggle="collapse" data-target="#collapseDestinationBlock" aria-expanded="false"
                            aria-controls="collapseDestinationBlock">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Destination
                    </button>
                </h4>
                <!--                <a  float="left" class="help-icon fas fa-question-circle" data-toggle="popover" title="Activities and Actors Filter"-->
                <!--                   data-html="true" tabindex="0"-->
                <!--                   data-content='Filter the flows between activity groups, activities and actors'>-->
                <!--                </a>-->
            </div>

            <div id="collapseDestinationBlock" class="collapse" aria-labelledby="card-header-collapse-destination"
                 data-parent="#filterBlock">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label style="width: 450px" for="area-select-button-destination">Select the area(s) for the destination of the flows:</label>
                            <button id="area-select-button-destination" class="btn btn-sm btn-primary area-select-button" data-width="100%"
                                    style="float: left; width: 13em" data-area-select-block="destination">Select areas
                            </button>
                            <!-- <a class="help-icon fas fa-question-circle" data-toggle="popover" title="Filter by Areas"
                               data-html="true" tabindex="0"
                               data-content="
                                Clicking the <b>Select areas</b> button opens a dialog where areas may be selected and confirmed.<br>
                                On confirmation the selected areas are used to limit the Actors to those located inside these areas.<br><br>
                                This filter is complementary to the other activities and actors filters.">
                            </a> -->
                        </div>
                    </div>
                    <div class='row' id="areaSelectionsDestination" style="display: none;">
                        <div class="col-md-4">
                            <!-- <label for="areaSelectionsDestinationTextarea">Selected areas:</label> -->
                            <textarea class="form-control-sm textarea-autosize selections" id="areaSelectionsDestinationTextarea" style="width: 100% !important; display: inline-block" type="text" readonly></textarea>
                            <button
                            id="clear-destination-areas-button"
                            class="btn btn-sm btn-primary clear-areas-button"
                            data-area-clear-button="destination"
                            >
                            <i class="fas fa-times"></i>
                        </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="destination-role-select">Destination role</label>
                            <a class="help-icon fas fa-question-circle" data-toggle="popover"
                            title="Role of the Actor"
                            data-html="true" tabindex="0"
                            data-content='This filter allows you to filter the flows based on the role of the actor. '>
                            </a>
                            <select id="destination-role-select"
                                    name="destination-role"
                                    class="form-control form-control-sm selectpicker"
                                    data-dropup-auto="false"
                                    >
                                <option value='any' selected>Both roles</option>
                                <option data-divider="true"></option>
                                <!-- <option value='all'>All roles within selected area</option> -->
                                <option value='production'>Waste production</option>
                                <!-- <option value='collection'>Collection</option> -->
                                <option value='treatment'>Waste treatment</option>
                            </select>
                        </div>
                    </div>

                    <div class="row destinationContainerActivity" style="display: none;">
                        <div class="col-md-4">
                            <label for="destination-toggleFilterLevel">Filter level</label>
                            <div class="checkbox">
                                <input name="filter-level-select" id="destination-toggleFilterLevel" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Activities"
                                    data-off="Activity groups">
                            </div>
                        </div>
                    </div>

                    <div class="row destinationContainerActivity" style="display: none;">
                        <div class="col-md-4">
                            <label for="destination-activitygroup-select">Activity group</label>
                            <select id="destination-activitygroup-select" name="destination-activitygroup-select" multiple
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true"
                                    data-dropup-auto="false" data-size="6" style="resize: vertical;">
                                <option selected value="-1">All (<%= activityGroups.count %>)</option>
                                <option data-divider="true"></option>
                                <% activityGroups.forEach(function(activitygroup){ %>
                                <option value="<%= activitygroup.id %>"><%= activitygroup.get('name') %> (<%=
                                    activitygroup.get('flow_count') %> <%= (activitygroup.get('flow_count') == 1) ?
                                    'flow' : 'flows' %>)
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="col-md-4 activitySelectContainer activitySelectContainerDestination" style="display: none">
                            <label for="destination-activity-select">Activity</label>
                            <i class="fas fa-angle-double-right" id="activitySelectChevron"></i>
                            <select id="destination-activity-select" name="destination-activity-select" multiple
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true"
                                    data-dropup-auto="false" data-size="6" style="resize: vertical;">
                                <option selected value="-1">All (<%= activities.count %>)</option>
                                <option data-divider="true"></option>
                                <% activities.forEach(function(activity){ %>
                                <option value="<%= activity.id %>"><%= activity.get('name') %> (<%=
                                    activity.get('flow_count') %> <%= (activity.get('flow_count') == 1) ? 'flow' :
                                    'flows' %>)
                                </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>

                    <div class="row destinationContainerTreatmentMethod" style="display: none;">
                        <div class="col-md-4">
                            <label for="destination-process-select">Treatment method</label>
                            <select name="destination-process-select" id="destination-process-select" multiple class="form-control form-control-sm selectpicker"
                            data-live-search="true"
                            data-size="6"
                            style="resize: vertical;">
                            <option selected value="-1">All (<%= processes.count %>)</option>
                            <option data-divider="true"></option>
                            <% processes.forEach(function(process){ %>
                                <option value="<%= process.id %>"> <%= process.get('name') %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
  
                </div>
            </div>

        </div>



        <!-- FLOWS CONTROLS -->
        <div class="card bg-dark">
            <div class="card-header" id="card-header-collapse-flows">
                <h4 class="mb-0">
                    <button class="btn btn-link collapsed collapsingHeaderButton"
                            id="btn-collapse-header-flows"
                            data-toggle="collapse"
                            data-target="#collapseFlowsBlock"
                            aria-expanded="false"
                            aria-controls="collapseFlowsBlock">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Flows
                    </button>
                </h4>
                <!--                <a class="help-icon fas fa-question-circle" data-toggle="popover" title="Flow Filters" data-html="true"-->
                <!--                   tabindex="0"-->
                <!--                   data-content='Filter the flows in between activity groups, activities and actors'>-->
                <!--                </a>-->
            </div>
            <div id="collapseFlowsBlock" class="collapse" aria-labelledby="card-header-collapse-flows" data-parent="#filterBlock">
                <div class="card-body">

                    <h5 class="flowFilterSubtitle">General</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <label style="width: 450px" for="area-select-button-flows">Select the area(s) through which the flows must pass:</label>
                            <button id="area-select-button-flows" class="btn btn-sm btn-primary area-select-button" data-width="100%"
                                    style="float: left; width: 13em" data-area-select-block="flows">Select areas
                            </button>
                            <!-- <a class="help-icon fas fa-question-circle" data-toggle="popover" title="Filter by Areas"
                               data-html="true" tabindex="0"
                               data-content="
                                Clicking the <b>Select areas</b> button opens a dialog where areas may be selected and confirmed.<br>
                                On confirmation the selected areas are used to limit the Actors to those located inside these areas.<br><br>
                                This filter is complementary to the other activities and actors filters.">
                            </a> -->
                        </div>
                    </div>
                    <div class='row' id="areaSelectionsFlows" style="display: none;">
                        <div class="col-md-4">
                            <!-- <label for="areaSelectionsFlowsTextarea">Selected areas:</label> -->
                            <textarea class="form-control-sm textarea-autosize selections" id="areaSelectionsFlowsTextarea" style="width: 100% !important; display: inline-block" type="text" readonly></textarea>
                            <button
                            id="clear-flows-areas-button"
                            class="btn btn-sm btn-primary clear-areas-button"
                            data-area-clear-button="flows"
                            >
                            <i class="fas fa-times"></i>
                        </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Year</label>
                            <select name="flows-year-select" class="form-control form-control-sm selectpicker">
                                <option value='all'>All</option>
                                <option value='2013'>2013</option>
                                <option value='2014'>2014</option>
                                <option value='2015'>2015</option>
                                <option value='2016'>2016</option>
                                <option value='2017'>2017</option>
                                <option value='2018'>2018</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Waste</label>
                            <select name="flows-waste-select" multiple class="form-control form-control-sm selectpicker"
                                    data-live-search="true"
                                    data-size="6"
                                    style="resize: vertical;">
                                <option selected value="-1">All (<%= wastes.count %>)</option>
                                <option data-divider="true"></option>
                                <% wastes.forEach(function(waste){ %>
                                <option value="<%= waste.id %>"><%= waste.get('ewc_code') %> <%=
                                    waste.get('ewc_name')[0].toUpperCase() + waste.get('ewc_name').slice(1) %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>

                    <h5 class="flowFilterSubtitle">Contents</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Materials</label>
                            <select name="flows-material-select" multiple class="form-control form-control-sm selectpicker"
                                    data-live-search="true"
                                    data-size="6"
                                    style="resize: vertical;">
                                <option selected value="-1">All (<%= materials.count %>)</option>
                                <option data-divider="true"></option>
                                <% materials.forEach(function(material){ %>
                                <option value="<%= material.id %>"> <%= material.get('name')[0].toUpperCase() +
                                    material.get('name').slice(1) %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Products</label>
                            <select name="flows-product-select" multiple class="form-control form-control-sm selectpicker"
                                    data-live-search="true"
                                    data-size="6"
                                    style="resize: vertical;">
                                <option selected value="-1">All (<%= products.count %>)</option>
                                <option data-divider="true"></option>
                                <% products.forEach(function(product){ %>
                                <option value="<%= product.id %>"> <%= product.get('name') %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Composites</label>
                            <select name="flows-composites-select" multiple class="form-control form-control-sm selectpicker"
                                    data-live-search="true" data-size="6"
                                    style="resize: vertical;">
                                <option selected value="-1">All (<%= composites.count %>)</option>
                                <option data-divider="true"></option>
                                <% composites.forEach(function(composite){ %>
                                <option value="<%= composite.id %>"> <%= composite.get('name') %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>

                    <h5 class="flowFilterSubtitle">Characteristics</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Route</label>
                            <select name="flows-route-select" class="form-control form-control-sm selectpicker">
                                <option value='both'>ignore</option>
                                <option value='no'>not route</option>
                                <option value='yes'>route</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Collector</label>
                            <select name="flows-collector-select" class="form-control form-control-sm selectpicker">
                                <option value='both'>ignore</option>
                                <option value='no'>not collector</option>
                                <option value='yes'>collector</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Hazardous</label>
                            <select name="flows-hazardous-select" class="form-control form-control-sm selectpicker">
                                <option value='both'>ignore</option>
                                <option value='no'>not hazardous</option>
                                <option value='yes'>hazardous</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Clean</label>
                            <select name="flows-clean-select" class="form-control form-control-sm selectpicker" multiple
                                    style="resize: vertical;">
                                <option selected value='-1'>ignore</option>
                                <option data-divider="true"></option>
                                <option value='unknown'>unknown</option>
                                <option value='no'>not clean</option>
                                <option value='yes'>clean</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Mixed</label>
                            <select name="flows-mixed-select" class="form-control form-control-sm selectpicker" multiple
                                    style="resize: vertical;">
                                <option selected value='-1'>ignore</option>
                                <option data-divider="true"></option>
                                <option value='unknown'>unknown</option>
                                <option value='no'>not mixed</option>
                                <option value='yes'>mixed</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Direct use</label>
                            <select name="flows-direct-select" class="form-control form-control-sm selectpicker" multiple
                                    style="resize: vertical;">
                                <option selected value='-1'>ignore</option>
                                <option data-divider="true"></option>
                                <option value='unknown'>unknown</option>
                                <option value='no'>not direct</option>
                                <option value='yes'>direct</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Composite</label>
                            <select name="flows-iscomposite-select" class="form-control form-control-sm selectpicker" multiple
                                    style="resize: vertical;">
                                <option selected value='-1'>ignore</option>
                                <option data-divider="true"></option>
                                <option value='unknown'>unknown</option>
                                <option value='no'>product</option>
                                <option value='yes'>composite</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="block accordion" id="dimensionBlock">

        <h4 style="padding-bottom: 0.5em; padding-top: 1em">Dimensions</h4>

        <div class="card bg-dark">

            <!-- IF WE NEED COLLAPSE LATER, UNCOMMENT THIS -->
            <!-- <div class="card-header" id="card-header-collapse-dimensions">
                <h4 class="mb-0">
                    <button class="btn btn-link collapsed collapsingHeaderButton" id="btn-collapse-header-dimensions"
                            data-toggle="collapse" data-target="#collapseDimensionBlock" aria-expanded="false"
                            aria-controls="collapseDimensionBlock">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Dimensions
                    </button>
                </h4>

            </div> -->

            <!-- <div id="collapseDimensionBlock" class="collapse" aria-labelledby="card-header-collapse-dimension"
                 data-parent="#filterBlock"> -->

                <div class="card-body">

                    <!-- Max dimensions -->
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <label>You can select up to <strong>one</strong> dimension.</label>                          
                        </div>
                    </div>
                    
                    <div class="row align-items-end border-bottom mb-3 mt-1">
                        <div class="col-md-3">
                            <label class="dimensionLabel dimensionHeaderLabel">Dimension</label>                          
                        </div>
                        <div class="col-md-3 text-center">
                            <label class="dimensionHeaderLabel">Select or aggregate</label>                          
                        </div>
                        <div class="col-md-4 text-center">
                            <label class="dimensionHeaderLabel">Granularity</label>                          
                        </div>
                    </div>

                    <!-- TIME -->
                    <div class="row">
                        <div class="col-md-3">
                            <label for="dim-toggle-time" class="dimensionLabel">Time</label>                          
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <input name="dim-toggle-time" class="dimensionToggle" id="dim-toggle-time" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Selected"
                                    data-off="Aggregate">
                            </div>
                        </div>
                        <div class="col-md-4" id="gran-toggle-time-col" style="display: none">
                            <div class="checkbox">
                                <input name="gran-toggle-time" id="gran-toggle-time" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Month"
                                    data-off="Year">
                            </div>
                        </div>
                    </div>

                    <!-- Space -->
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <label for="dim-toggle-space" class="dimensionLabel">Space</label>                          
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <input name="dim-toggle-space" class="dimensionToggle" id="dim-toggle-space" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Selected"
                                    data-off="Aggregate">
                            </div>
                        </div>
                        <div class="col-md-4" id="gran-toggle-space-col" style="display: none">
                            <select name="dim-space-gran-select" id="dim-space-gran-select" class="form-control form-control-sm selectpicker" data-height="21"> 
                                <% levels.forEach(function(level) { %>
                                <option value="<%= level.id %>"> <%= level.get('name') %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>

                    <!-- Economic Activity -->
                    <div class="row">
                        <div class="col-md-3">
                            <label for="dim-toggle-economic-activity" class="dimensionLabel">Economic activity</label>                          
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <input name="dim-toggle-economic-activity" class="dimensionToggle" id="dim-toggle-economic-activity" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Selected"
                                    data-off="Aggregate">
                            </div>
                        </div>
                        <div class="col-md-4" id="gran-econ-activity-col" style="display: none">
                            <div class="checkbox">
                                <input name="gran-toggle-econ-activity" id="gran-toggle-econ-activity" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Activity"
                                    data-off="Activity group">
                            </div>
                        </div>
                    </div>

                    <!-- Treatment Method -->
                    <div class="row">
                        <div class="col-md-3">
                            <label for="dim-toggle-treatment-method" class="dimensionLabel">Treatment method</label>                          
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <input name="dim-toggle-treatment-method" class="dimensionToggle" id="dim-toggle-treatment-method" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Selected"
                                    data-off="Aggregate">
                            </div>
                        </div>
                        <div class="col-md-4" id="gran-treatment-method-col" style="display: none">
                            <div class="checkbox">
                                <input name="gran-toggle-treatment-method" id="gran-toggle-treatment-method" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Treatment method"
                                    data-off="Treatment method group">
                            </div>
                        </div>
                    </div>
                    
                    <!-- Material -->
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <label for="dim-toggle-material" class="dimensionLabel">Material</label>                          
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <input name="dim-toggle-material" class="dimensionToggle" id="dim-toggle-material" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Selected"
                                    data-off="Aggregate">
                            </div>
                        </div>
                        <div class="col-md-4">
                      
                        </div>
                    </div> -->
                    
                    <!-- Logistics -->
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <label for="dim-toggle-logistics" class="dimensionLabel">Logistics</label>                          
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <input name="dim-toggle-logistics" class="dimensionToggle" id="dim-toggle-logistics" type="checkbox"
                                    data-width="100%" data-height="21" data-toggle="toggle" data-on="Selected"
                                    data-off="Aggregate">
                            </div>
                        </div>
                        <div class="col-md-4">
                      
                        </div>
                    </div> -->
            
  
                </div>
            <!-- </div> -->
        </div>
        
        <div class="row mt-3 mb-2">
            <!-- <label class="input-label" style="margin-top: .5rem; margin-right: 10px;">Display Level</label>
            <select class="form-control" name="display-level-select" style="max-width: 200px; float: left;">
                <option value="activitygroup">Activity Group</option>
                <option value="activity">Activity</option>
            </select> -->
            <button id='reset-filters' class="btn btn-warning"
                title="Reset all the filters"
                style="margin-left: 20px; float: left; width: 10em">Reset filters
            </button>
            <button id='apply-filters' class="btn btn-primary"
                    title="Apply the filters to activities and actors and flows and render the sankey diagram."
                    style="margin-left: 10px; float: left; width: 10em">Visualize
            </button>
            <div class="helpIconContainer d-inline-flex align-items-center">
                <a class="help-icon fas fa-question-circle" data-toggle="popover" title="Render Filter Settings"
                style="float: left;" data-html="true" tabindex="0"
                data-content="
                Rerender the sankey diagram with data filtered by the selections made in the <b>Filters</b> section above
                (click the Filters row to expand/collapse it).<br><br>
                All data is based on flows between actors. The data will be aggregated to the selected <b>Display Level</b>.
                ">
                </a>
            </div>
         </div>
    </div>


    <!-- template for viewing flows as sankey or map  -->
    <div id="flows-render-template">

        
        <!-- <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 min-width-600px">
                <div class="row" style="padding: 0px;">
                    <span class="fa-stack sankey-help-icon-container">
                        <i class="sankey-help-icon-bg fa fa-circle fa-stack-1x"></i>
                        <a class="sankey-help-icon help-icon fas fa-question-circle fa-stack-1x" data-toggle="popover" title="Sankey Diagram" data-html="true" tabindex="0"
                        data-content="This diagram displays the filtered flows and their origins and destinations.
                            Origins and destinations represent groups, activities or actors, depending on the Level selection.
                            The flow direction is from left to right.<br><br>
                            <b>Flow selection</b><br>
                            Tap a flow to display it and the involved actors on the map to the right. Tap it again to unselect it and remove it from the map.
                            <br><br>
                            <b>Controls</b><br>
                            The diagram is zoomable and movable with touch gestures.
                            The crosshair icon resets the zoom and centers the diagram.
                            <br><br>
                            <b>Export</b>
                            <br> You can export your current view as an image by pressing the camera button.
                            To export the flow data as a csv file press the button with the paper icon">
                        </a>
                    </span>
                    
                    <div class="sankey-wrapper" class="noselect">
                        <div class="d3-zoom-controls">
                            <a class="btn square" data-zoom="+0.5"><span class="fa fa-plus"></span></a>
                            <a class="btn square" data-zoom="-0.5"><span class="fa fa-minus"></span></a>
                            <a class="btn square" data-zoom="0"><span class="fa fa-crosshairs"></span></a>
                        </div>
                        <div class="sankeyUtilityButtonContainer">
                            <button class="export-img fas fa-camera btn btn-primary d3-overlay inverted"></button>
                            <button class="export-csv fas fa-file btn btn-primary d3-overlay inverted"></button>
                            <button class="fullscreen-toggle fas fa-expand btn btn-primary d3-overlay inverted"></button>
                        </div> -->
                        <!-- <div style="position: absolute; bottom: 15px; left: 10px;">
                            <button class="select-all fas fa-vector-square btn btn-primary d3-overlay inverted" style="position: relative; float: left; margin-right: 10px; height: 30px;">&nbsp;All</button>
                            <button class="deselect-all fas fa-ban btn btn-primary d3-overlay inverted" style="position: relative; height: 30px;">&nbsp;None</button>
                        </div> -->
                        <!-- <div class="sankey" style="text-align: center;"></div>
                    </div>
                </div>
            </div> -->



            <!-- <div class="col-md-6 bordered min-width-600px">
                <a class="help-icon glyphicon glyphicon-question-sign" data-toggle="popover" title="Sankey Map" style="margin: 15px; position: absolute; z-index:1000;" data-html="true" tabindex="0"
                    data-content="This map displays the selected flows of the sankey diagram to the left on a spatial actor level.
                        The color coding of the basic flows and activities and actors matches the sankey diagram.
                        Tap a flow or actor on the map to display a tooltip with information about it.
                        <br><br>
                        To visualize the flow direction the <i>Animate Flows</i> checkbox has to be activated.">
                </a>
                <div id="flow-map" style="width: 100%; height: 600px;"></div>
            </div> -->


            <div class="row">
                <div class="col">
                    <div class="piechart-wrapper" style="width: 600px; height: 600px; background-color: #1c1c1c; border-radius: 4px;"></div>
                </div>
                <div class="col">
                    <div class="barchart-wrapper" style="width: 600px; height: 600px; background-color: #1c1c1c; border-radius: 4px;"></div>
                </div>
            </div>

        </div>
    </div>

    <!-- temp footer -->
    <div style="display: block; height: 350px">
        <span style="color: white; margin: auto">Temporary footer</span>
    </div>

    <!--Area selection-->
    <div class="area-filter modal fade" role="dialog"></div>
</script>

<!--Area selection-->
<script type="text/template" id="area-select-modal-template">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content col-md-12">
            <div class="modal-header" style="padding-bottom: 0px">
                <h4 class="modal-title">Select areas</h4>
                <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
            </div>
            <div class="modal-body">
                <div class='row' style="padding-top: 0px">
                    <div class="col">
                        <label for="area-level-select" class="input-label" style="margin-top: .5rem; margin-right: 10px;">Geographic level:</label>
                        <select name="area-level-select" id="area-level-select" class="form-control form-control-sm" style="max-width: 350px;">
                            <% levels.forEach(function(level) { %>
                            <option value="<%= level.id %>"> <%= level.get('name') %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class='row'>
                    <div class='map' style=""></div>
                </div>
                <div class='row' style="padding-top: 0px">
                    <div class="col">
                        <label for="areaSelectionsModalTextarea">Selected areas:</label>
                        <textarea class="form-control-sm textarea-autosize selections" id="areaSelectionsModalTextarea" style="width: 100%" type="text" readonly></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary confirm" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</script>