{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}TUDelft | Status Quo{% endblock %}

{% block sidebar %}
    <script>
      document.getElementById("status-quo-link").classList.add('active');
    </script>
    <ul class="nav nav-pills nav-stacked" id="sidebar">
      <li class="active"><a href="#flows" data-toggle="pill"><span class="sub-icon fas fa-recycle"></span>Flows</a></li>
    </ul>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/status-quo.css" />
    <div class="tab-content">
      <!-- Flows -->
      <div class="tab-pane fade show active" id="flows"></div>
    </div>
    {% include "filters.html" %}
    {% include "statusquo/flows.html" %}
    {% render_bundle 'StatusQuo' %}
{% endblock %}