option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "geofluxus.settings_aws"
        "PYTHONPATH": "/var/app/current:$PYTHONPATH"
        AWS_ACCESS_KEY_ID: null,
        AWS_SECRET_ACCESS_KEY: null
    "aws:elasticbeanstalk:container:python":
        WSGIPath: geofluxus.wsgi:application
        NumProcesses: 3
        NumThreads: 20
    "aws:elasticbeanstalk:environment:proxy:staticfiles":
        /static: geofluxus/public/static
files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/app-logs.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/app/current/*.log
    "/opt/elasticbeanstalk/tasks/bundlelogs.d/app-logs.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/app/current/*.log
    "/opt/elasticbeanstalk/tasks/bundlelogs.d/gdal-install.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/log/gdal_install.log
    "/etc/nginx/conf.d/proxy.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 100M;
container_commands:
    00_create_gunicorn_logs:
        test: '[ ! -f /var/log/gunicorn.log ] && echo "Creating gunicorn log file..."'
        command: |
            sudo touch /var/log/gunicorn.log
            sudo chmod o+wx /var/log/gunicorn.log
    01_gdal_fix:
        command: "sudo cp /usr/local/lib/libgdal.so.20* /usr/lib64/"
    02_python_install:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && pip3 install -r requirements.txt"
    03_migrate:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py migrate"
        leader_only: true
    04_install_node:
        test: '[ ! -x /usr/bin/node ] || [ $(node -v) != "v12.18.3" ] && echo "The requested version of NodeJS is not found, installing..."'
        command: |
            curl -O -L -k https://rpm.nodesource.com/pub_12.x/el/7/x86_64/nodejs-12.18.3-1nodesource.x86_64.rpm
            sudo yum install -y nodejs-12.18.3-1nodesource.x86_64.rpm
    05_install_yarn:
        # don't run the command if yarn is already installed (file /usr/bin/yarn exists)
        test: '[ ! -f /usr/bin/yarn ] && echo "Yarn not found, installing..."'
        command: |
            sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
            sudo yum -y install yarn
    06_yarn_install_packages:
        command: "pwd && sudo yarn install"
    07_run_webpack:
        command: "node_modules/.bin/webpack --config geofluxus/webpack.prod.config.js"
    08_collectstatic:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py collectstatic"