option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "geofluxus.settings_aws"
        "PYTHONPATH": "/var/app/current:$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: geofluxus.wsgi:application
        NumProcesses: 3
        NumThreads: 20
    "aws:elasticbeanstalk:environment:proxy:staticfiles":
        /static: geofluxus/public/static
files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/app-logs.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/app/current/*.log
    "/opt/elasticbeanstalk/tasks/bundlelogs.d/app-logs.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/app/current/*.log
container_commands:
    00_create_gunicorn_logs:
        test: '[ ! -f /var/log/gunicorn.log ] && echo "Creating gunicorn log file..."'
        command: |
            sudo touch /var/log/gunicorn.log
            sudo chmod o+wx /var/log/gunicorn.log
    01_gdal_fix:
        command: "sudo cp /usr/local/lib/libgdal.so.20* /usr/lib64/"
    02_python_install:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && pip3 install -r requirements.txt"
    04_yarn_install_packages:
        command: "pwd && sudo yarn install"
    05_run_webpack:
        command: "node_modules/.bin/webpack --config geofluxus/webpack.prod.config.js"