.row {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card.bg-dark {
    overflow-y: visible;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card.bg-dark::-webkit-scrollbar {
    display: none;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: .3s transform ease-in-out;
}

.resetButton {
    float: left;
    width: 10em;
}

#btn-filterViews {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    text-decoration: none !important;
}

.collapsingHeaderButton {
    padding: 1rem !important;
    margin: -1rem;
    width: 100%;
    text-align: left;
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    text-decoration: none !important;
}

.collapsingHeaderButton:hover {
    background-color: inherit;
    color: white;
}

.collapsingHeaderButton:focus {
    background-color: inherit;
    color: white;
    box-shadow: none !important;
}

.flowFilterSubtitle {
    margin-top: 1.3rem !important;
    font-weight: bolder;
}

#filterBlock .dropdown-menu {
    max-width: 80vw;
}

#filterBlock .dropdown-menu .inner.show {
    min-width: 70px !important;
    max-width: 80vw;
    overflow-x: hidden;
    z-index: 1000;
}

.collapseFlowsBlock {
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
}

.flowFilterSubtitle {
    margin-top: 2em;
}

label[for="origin-processGroup-select"],
label[for="destination-processGroup-select"] {
    min-width: 13rem;
}



label[for="origin-activity-select"],
label[for="destination-activity-select"],
label[for="origin-process-select"],
label[for="destination-process-select"],
label[for="monthSelect"],
label[for="flows-waste04-select"],
label[for="flows-waste06-select"] {
    position: relative;
    left: -1.3em;
}

.labelHelpiconContainer {
    position: relative;
    display: inline-block;
    top: 0.125rem;
    left: -0.5rem;
}

.labelHelpiconContainer .fa-question-circle::before {
    font-size: 22.5px;
}

.originContainerActivity .activitySelectContainer .labelHelpiconContainer,
.destinationContainerActivity .activitySelectContainer .labelHelpiconContainer,
#originContainerProcesses .labelHelpiconContainer,
#destinationContainerProcesses .labelHelpiconContainer,
#monthCol .labelHelpiconContainer,
#wastes04col .labelHelpiconContainer,
#wastes06col .labelHelpiconContainer {
    left: -1.85em;
}

.hazaIconPos {
    left: -0.5rem !important;
}

.filterDoubleChevron {
    color: white;
    font-size: 1.5em;
    position: relative;
    left: -1.05em;
    top: 1.675em;
    float: left;
}

/* 
.originContainerActivity .filterDoubleChevron,
.destinationContainerActivity .filterDoubleChevron {
    color: white;
    font-size: 1.5em;
    position: relative;
    left: -1.05em;
    top: 1.675em;
    float: left;
} */

.clear-areas-button {
    display: inline-block;
    position: absolute;
    right: -1.5rem;
    height: 38px !important;
    width: 38px !important;
    border-radius: 19px;
}

.savedMode .fourButtons button {
    margin-right: 0.5rem;
    margin-left: 0.5rem
}

.savedMode .fourButtons button:first-child {
    margin-left: 0;
}

.savedMode .fourButtons button:last-child {
    margin-right: 0;
}

.filterEdit button {
    width: 4.5rem;
    height: 38px;
}

.helpIconContainer {
    height: 100%;
}


/* WITHIN/OUTSIDE TOGGLE for area selections */

.in-or-out-container {
    display: inline-block;
}

.in-or-out-container .toggle {
    min-height: 24px !important;
    /* top: -0.5rem !important; */
    width: 7rem !important;
}

.in-or-out-container .toggle.btn {
    position: relative;
    top: -0.15rem;
}

.in-or-out-container .toggle-group label {
    top: -0.4rem;
}

.in-or-out-container .toggle-group span {
    top: -0.15rem;
}

/* DIMENSIONS */
.dimensionHeaderLabel {
    margin-top: 0.5rem;
    font-weight: 900;
    font-size: 1.1em;
}

#dimensionsCard .row .col-md-3 {
    min-width: 14rem !important;
}

.bootstrapToggle[disabled]+.toggle-group label {
    color: rgb(63, 62, 62);
    /* border-color: rgb(107, 107, 107) !important; */
    border-color: red !important;
}

.bootstrapToggle[disabled]+.toggle-group label:hover {
    color: rgb(63, 62, 62);
    background: black !important;
}


/* Radio buttons for Mode Type selection */
.big-radio-no-image {
    border-radius: 24px !important;
    margin: 0 0.5rem 1rem 0.5rem !important;
    min-width: 10rem;
    display: flex;
    max-width: 10rem;
    height: 142px;
}

.big-radio-no-image span {
    font-size: large;
}

/* Radio buttons for Viz Type selection */

.viz-selector-button {
    border-radius: 24px !important;
    margin: 0 0.5rem 1rem 0.5rem !important;
    min-width: 10rem;
    display: flex;
    max-width: 10rem;
}

.viz-selector-button.active {
    background-color: #00b6d6 !important;
}

.span-viz {
    width: 100%;
}

.span-viz::before {
    display: block;
    position: relative;
    content: ' ';
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}

#span-viz-choroplethmap::before {
    background-image: url('../img/viz-icons/viz-choropleth.svg');
}

#span-viz-coordinatepointmap::before {
    background-image: url('../img/viz-icons/viz-coordpoint.svg');
}

#span-viz-piechart::before {
    background-image: url('../img/viz-icons/viz-piechart.svg');
}

#span-viz-barchart::before {
    background-image: url('../img/viz-icons/viz-barchart.svg');
}

#span-viz-treemap::before {
    background-image: url('../img/viz-icons/viz-treemap.svg');
}

#span-viz-lineplot::before {
    background-image: url('../img/viz-icons/viz-lineplot.svg');
}

#span-viz-lineplotmultiple::before {
    background-image: url('../img/viz-icons/viz-lineplotmultiple.svg');
}

#span-viz-areachart::before {
    background-image: url('../img/viz-icons/viz-stackedareachart.svg');
}

#span-viz-stackedbarchart::before {
    background-image: url('../img/viz-icons/viz-stackedbarchart.svg');
}

#span-viz-parallelsets::before {
    background-image: url('../img/viz-icons/viz-parallelsets.svg');
}

#span-viz-circularsankey::before {
    background-image: url('../img/viz-icons/viz-circularsankey.svg');
}

#span-viz-flowmap::before {
    background-image: url('../img/viz-icons/viz-flowmap.svg');

}

/* Circular Sankey */

#circularsankey-wrapper svg {
    display: block;
    margin: auto;
}

#circularsankey-wrapper {
    min-height: 750px;
    height: auto !important;
}

#circularsankey-wrapper {
    font-family: Montserrat, sans-serif !important;
    color: white
}

.sankeyControlContainer {
    width: 32px;
    margin-left: 5px;    
    position: absolute;
}

.sankeyControlContainer button {
    margin-top: 5px;
    width: 32px;
    height: 32px;
}
/* 
    background-color: var(--primary);
    border: none;
    position: relative;
    border-radius: 16px;
    top: 5px;
    color: transparent;
    margin-bottom: 5px !important;
    font-size: 16px !important;
    margin: 0px 5px;
} */



/* VISUALISATION STYLES */

.viz-wrapper-div {
    display: none;
    /* min-height: 750px; */
    height: 90vh;
    min-width: 600px;
    background-color: #393939;
    border-radius: 18px;
    transition: background-color 0.5s ease;
}

.lightMode {
    background-color: #dfdfdf !important;
    transition: background-color 0.5s ease;
}


.d3plus_label {
    fill: white;
    font-family: "Montserrat", sans-serif;
}

.d3plus-textBox text {
    font-family: "Montserrat", sans-serif !important;
}

.viz-wrapper-div.parallelsets-wrapper {
    background-color: #393939;
}

.parallelsets-container {
    background-color: #393939;
    border-radius: 18px;
}


/* Area Select Modal Styles */

.map {
    min-height: 400px;
    min-width: 400px;
    width: 100%;
    height: 100%;
    /* max-height: 600px; */
}

.areaModalMapRow.map .ol-viewport {
    border-radius: 18px;
}

.areaModalMapRow.map .ol-viewport canvas {
    margin-bottom: -1rem;
}

.map .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
    bottom: 0.35rem;
}

.map .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible a {
    color: black;
}

.selectedAreaLabel {
    font-weight: bolder !important;
    font-size: 1.1em;
}

.selections {
    display: block;
    font-weight: normal;
    font-size: 0.9em;
    color: black;
}


textarea.textarea-autosize {
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
    border-radius: 18px !important;
    box-sizing: border-box;
    max-height: 94px;
    min-height: 32px;
    overflow-x: hidden;
    resize: none;
}

textarea.textarea-autosize.form-control-sm {
    height: 2rem;
    min-height: 2rem;
}

.leaflet-top,
.leaflet-bottom {
    z-index: 998;
}


.flowmap-container {
    border-radius: 18px;
    background-color: #393939 !important;
}

.flowmap-d3pluslegend-wrapper {
    width: 100%;
    height: 100px;
    bottom: 100px;
    position: relative;
    z-index: 600;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.flowmap-d3pluslegend {
    height: 100px;
    width: 800px;
    border-radius: 18px;
    overflow: visible;
}

.flowmap-d3pluslegend g {
    height: 100px !important;
}

.flowmapLegendFullscreen {
    z-index: 100000 !important;
    bottom: 0;
    position: fixed;
    left: 0;
    border-radius: 0px !important;
}


/* d3plus Tooltip */

.d3plus-tooltip,
.flowMapToolTip {
    background-color: rgb(139, 138, 138) !important;
    border-radius: 1.5rem !important;
    padding: 0 !important;
    z-index: 99999;
    min-width: 15rem;
    max-width: 25rem;
}

.leaflet-tooltip {
    background-color: rgb(139, 138, 138) !important;
    border-radius: 1.5rem !important;
    padding: 0.75rem;
    border-color: transparent;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.flowMapToolTip {
    width: 22rem !important;
}

.flowMapToolTip * {
    font-size: small;
}

.flowMapToolTip .d3plus-tooltip-table {
    display: block;
    padding-bottom: 0.5rem;
}


.d3plus-tooltip div {
    font-family: "Montserrat", sans-serif !important;
}

.d3plus-tooltip-title {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    background-color: rgb(88, 88, 88);
    color: white;
    max-width: 30rem !important;
    border-top-right-radius: 1.5rem !important;
    border-top-left-radius: 1.5rem !important;
    padding: 0.5rem !important;
}

.d3plus-tooltip table {
    margin: 0.5rem !important;
}

.d3plus-tooltip-tbody> :first-child {
    border: none !important;
}

.d3plus-tooltip-tbody tr td:first-child {
    text-align: end;
    font-weight: bolder;
}

.d3plus-tooltip-tbody tr td {
    font-family: 'Montserrat', sans-serif !important;
    text-align: start;
    padding-left: 0.5rem;
    padding-right: 1rem;
    max-width: 30rem;
}

.d3plus-tooltip-footer {
    margin: 0.5rem !important;
    font-size: 10px !important;
}


/* d3plus buttons */

.d3plus-viz-controls-container {
    min-height: 100px;
}

.d3plus-viz-controls-container .d3plus-Button {
    background-color: var(--primary);
    border: none;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    top: 5px;
    color: transparent;
    margin-bottom: 5px !important;
    font-size: 16px !important;
    margin: 0px 5px;
}

.parallelsets-wrapper .d3plus-viz-controls-container .d3plus-Button {
    left: -0.25rem;
    top: 0;
}

.icon-fullscreen,
.icon-export,
.icon-save-image {
    color: white;
}

.icon-toggle-legend,
.icon-toggle-darkmode,
.icon-toggle-flowmap-flows,
.icon-toggle-flowmap-nodes,
.icon-toggle-flowmap-animation,
.icon-toggle-flowmap-areas {
    background-position: center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.icon-toggle-legend {
    background-image: url("../img/legend.svg");
}

.icon-toggle-darkmode {
    background-image: url("../img/nightmode.svg");
}

.icon-toggle-flowmap-flows {
    width: 24px;
    height: 24px;
    margin-top: 2.5px;
    background-image: url("../img/flowmap-flows.svg");
}

.icon-toggle-flowmap-nodes {
    background-image: url("../img/flowmap-nodes.svg");
    width: 24px;
    height: 24px;
    margin-top: 2.5px;
}

.icon-toggle-flowmap-animation {
    background-image: url("../img/flowmap-animation.svg");
    position: relative;
    width: 25px;
    height: 25px;
    top: 0.055rem;
}

.icon-toggle-flowmap-areas {
    background-image: url("../img/flowmap-areas.svg");
    width: 24px;
    height: 24px;
    margin-top: 2.5px;
}

.leaflet-control div label {
    color: black;
}

.leaflet-control {
    margin-right: 5px !important;
    margin-top: 5px !important;
}

.leaflet-control-zoom {
    top: 300px !important;
    border: none !important;
    margin: 0 !important;
}

.flowmap-wrapper .leaflet-control-zoom a {
    background-color: var(--primary);
    border: none;
    width: 32px;
    height: 32px;
    color: white;
    font-size: 22px;
    margin: 0px 5px;
}

.leaflet-control-fullscreen-button {
    display: flex !important;
}

.leaflet-control-fullscreen-button::before {
    margin: auto;
}

.flowmap-container .leaflet-tooltip {
    z-index: 999999;
}

.leaflet-control-zoom a:hover {
    background-color: grey;
    border-color: grey;
}

.leaflet-control-zoom a:first-child {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.leaflet-control-zoom a:last-child {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.leaflet-control-zoom .btn-reset-view {
    cursor: pointer;
}

.leaflet-control-zoom .btn-reset-view i {
    font-size: medium;
    bottom: 0.1rem;
    position: relative;
}

.leaflet-control-fullscreen a {
    width: 32px !important;
    height: 32px !important;
}

.leaflet-control-fullscreen,
.leaflet-control-custom-buttons {
    margin-left: 5px !important;
    position: absolute;
    border: none !important;
    border-width: 0px;
    background: none !important;
    border: none !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 16px !important;
}

.leaflet-control-custom-buttons button {
    border-width: 0px !important;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 0px;
    margin-bottom: 0.3rem !important;
}

.leaflet-control-custom-buttons {
    top: 36px;
}

.leaflet-control-export button::before {
    right: 0.5px;
    position: relative;
}

.leaflet-control-export button::before {
    right: 0.5px;
    position: relative;
}


.leaflet-control-fullscreen a {
    background-color: var(--primary);
    width: 32px;
    height: 32px;
    border-radius: 16px !important;
    font-size: 14px;
    color: white !important;
    background-image: none !important;
}

.leaflet-control-fullscreen a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    content: "\f065";
    font-size: 17px;
}

.leaflet-control-fullscreen a:hover {
    background-color: grey !important;
    border-color: grey !important;
}

.leaflet-bottom.leaflet-left {
    position: absolute;
    bottom: 110px;
}

.leaflet-control-custom-controls {
    margin: 0px !important;
    border-top-right-radius: 16px;
    top: 10px;
}

.aniToggleDiv {
    position: relative;
    left: -5px;
}

.flowmap-anim-radio-label {
    display: block;
    position: relative;
    right: -10px;
}

.flowmap-anim-radio-label input {
    float: left;
    position: relative;
    left: -10px;
}


.leaflet-control-attribution {
    margin-right: 0px !important;
    padding-right: 10px;
    background: none !important;
    position: relative;
    z-index: 601;
}

/* .d3plus-zoom-controls */
.d3plus-zoom-control {
    position: absolute !important;
    top: 545px !important;
    left: 0 !important;
}

.d3plus-zoom-control .zoom-control {
    position: relative;
    height: 32px !important;
    width: 32px !important;
    border-radius: 16px !important;
    font-size: 28px !important;
    padding-top: 0.3rem !important;
    color: white !important;
    background-color: var(--primary) !important;
    opacity: 1 !important;
    border: none !important;
    user-select: none;
}

.choropleth-wrapper svg {
    border-radius: 18px !important;
}

.coordinatepointmap-wrapper svg {
    border-radius: 18px !important;
}



/* CSS Tweaks for map control buttons only for Chrome	 */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    .viz-wrapper-div svg foreignObject {
        width: 42px !important;
    }

}


/* SVG Container */

.sankey.bordered {
    display: inline-block !important;
    position: relative !important;
    padding-bottom: 100% !important;
    width: 100% !important;
    max-height: 800px !important;
    height: auto !important;
    vertical-align: top !important;
    overflow: hidden !important;
}

/* SVG responsiveness: */

.svg-content-responsive {
    display: inline-block !important;
    position: absolute !important;
    margin: auto !important;
    vertical-align: middle !important;
    top: 10px !important;
    left: 0 !important;
    box-sizing: content-box !important;
}

.sankey,
.tooltip,
.oltooltip,
.flowMapToolTip,
.d3-tip {
    font-family: 'Montserrat', sans-serif !important;
}

.d3-tip h1 {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 2px;
    width: 100%;
}

.d3-tip h2 {
    font-weight: bold;
    font-size: 12px;
    padding-right: inherit;
    padding-left: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
}

.d3-tip h3 {
    font-weight: normal;
    font-size: 8px;
    margin: 0;
    padding: 0;
}

.d3-tip table {
    font-weight: normal;
    font-size: 12px;
    padding: none;
    margin: 0;
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.d3-tip td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.d3-tip .col-left {
    padding-right: 8px;
}

.d3-tip .table-wrapper {
    margin: 0;
    padding: inherit;
    border: none;
}

.d3-tip {
    background-color: #BEBEBE;
    color: black;
    border-radius: 5px;
    max-width: 20em;
    line-height: 1;
    font-weight: normal;
    padding: 8px;
    pointer-events: none;
    box-shadow: 1px 1px 4px grey;
    z-index: 99999;
}

.d3-tip-nodes {
    background-color: darkgrey;
}


.d3-zoom-controls {
    position: absolute;
    left: 10px;
    top: 50px;
    z-index: 100;
}

.d3-zoom-controls a {
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 0px 0;
    font-size: 18px;
    line-height: 2.00;
    display: grid;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    color: #333333;
}

.sankey-help-icon-container {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 30px;
    z-index: 100;
}

.sankey-help-icon-bg {
    color: rgb(33, 37, 41);
    margin-left: 10px;
    font-size: 30px !important;
}

.sankey-help-icon {
    color: white !important;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    font-size: 30px !important;
}

.sankey-help-icon:hover {
    color: rgb(139, 138, 138) !important;
    transition: color 0.2s ease-in-out;
}

.sankey-help-icon-container a {
    margin: 0px;
}

.sankeyUtilityButtonContainer {
    position: absolute;
    float: right;
    left: 10px;
    bottom: 0px;
    width: 30px;
    z-index: 100;
}

.sankeyUtilityButtonContainer button {
    background-color: white;
    border-radius: 18px !important;
    color: #333333;
    height: 30px;
    width: 30px;
    position: relative;
    margin-bottom: 10px;
    font-size: 15px;
    border: none;
}

.sankeyUtilityButtonContainer button:hover {
    background-color: rgb(139, 138, 138) !important;
}

.d3-overlay {
    position: absolute;
    font-size: 1em;
    opacity: 0.8;
    padding: 3px 7px 3px 7px;
}

div.fullscreen {
    z-index: 99990;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
    position: fixed !important;
    top: 0;
    left: 0;
}