a {
    color: #FFFFFF;
}

p {
    color: white;
}


h1, h2, h3 {
    color: #FFFFFF;
}

body {
    font-family: Montserrat, sans serif;
    background-color: black;
    z-index: 0;
}

#wrapper {
    padding-top: 80px;
    z-index: 800;
}

#page-content-wrapper {
    background-color: black;
    padding-left: 100px;
    margin-right: 20px;
    padding-top: 10px;
    z-index: 400;
}

.btn {
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
}

.btn:hover {
    background-color: red;
    border-color: red;
    color: white;
    box-shadow: none;
}

.btn:focus {
    background-color: primary;
    border-color: primary;
    color: black;
}

.dropdown-button {
    border-color: black;
    background-color: transparent;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255,0.3);
}

.dropdown-content a {
    color: white;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

::-webkit-scrollbar {
    z-index: 800;
    width: 10px;
    background: black;
    -webkit-box-shadow: inset 10px 0 10px rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.modal {
    top: 200px;
    overflow: auto;
}

.modal-content {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
    background-color: black;
    color: white;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.modal-backdrop {
    background-color: rgba(0,0,0,.3);
}

.loader {
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 50000000;
    width: 150px;
    height: 150px;
    border: 16px solid black;
    border-radius: 50%;
    border-top: 16px solid white;
    box-shadow: 0 0 20px white, inset 0 0 20px white;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}