a {
    color: #FFFFFF;
}

h1, h2 {
    color: #FFFFFF;
}

body {
    font-family: Montserrat, sans serif;
    background-color: black;
    z-index: 0;
}

.sub-icon {
    padding-left: 20px;
    font-size: 30px;
}

#wrapper {
    padding-top: 80px;
    z-index: 800;
}

#page-content-wrapper {
    background-color: black;
    padding-left: 260px;
    margin-right: 20px;
    padding-top: 40px;
    z-index: 400;
}