.row {
    padding: 1.5rem;
}

#dataset-column, #documentation-column {
    width: 100%;
    max-height: 700px;
    overflow-y: auto;
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.dataset-row {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

label {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}