.navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #000000;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
    z-index: 1000;
}

.navbar-brand {
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 38px;
    padding-right: 20px;
}

.navbar-brand:hover {
    color: white;
    text-shadow: 0px 0px 10px white;
}

.nav-item {
    padding-right: 20px;
}

.nav-link {
    position: relative;
    color: white;
    font-size: 20px;
}

.nav-link:hover {
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 10px white;
    transition: font-size 0.1s, text-shadow 0.1s;
}

.nav-item.active>.nav-link {
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 10px white;
}



/* PREVIOUS NAV STYLING */

.navbar-top select,
.navbar .dropdown-button {
    color: white !important;
    background-color: black !important;
    border: none;
    font-size: 1em;
    margin-top: 15px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align-last: right;
    padding-right: 10px;
    cursor: pointer;
}

.navbar-top select::-ms-expand {
    display: none;
}

.dropdown-button {
    padding-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown a.active {
    background-color: black;
    color: white;
}

.show {
    display: block;
}

/*.navbar-top select option:checked, .navbar-top select option:hover{
    color: white;
    background-color: @main-color;
}*/

.navbar .navbar-collapse {
    position: relative;
    width: 100%;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}



@media screen and (max-width: 1100px) {
    .navbar-bottom>li>a {
        font-size: 1.2em;
    }

    .navbar-bottom>li.active>a,
    .navbar-bottom>li:hover>a {
        font-size: 1.2em;
    }

    .menu-arrow {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-bottom>li:last-child {
        padding-right: 15px;
    }

    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }

    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }

    .nav-collapse>li {
        float: none;
    }

    .navbar-top {
        position: relative;
        top: auto;
        float: right;
    }

    .navbar-top>li {
        float: right;
    }

    #top-collapse.in {
        display: inline;
    }

    .navbar-header>.container-fluid {
        float: none;
    }
}