#password_reset {
    text-align: center;
    margin: 1rem;
}

#password_reset ul {
    list-style-position: inside;
}

#password_reset_text {
    margin-top: 2rem;
}

#password_reset_form {
    margin-top: 1rem;
    color: white;
}

#password_reset_button {
    padding: 10px;
}

#id_email,
#id_new_password1,
#id_new_password2 {
    padding: 5px;
    text-align: center;
}