#sidebar-wrapper {
    overflow-y: auto;
    position: fixed;
    width: 70px;
    height: 100%;
    background: black;
    z-index: 600;
    box-shadow: 10px 0px 10px rgba(255,255,255,0.3);
    -webkit-transition: width 1s;
    transition: width 1s;
}

#sidebar-wrapper:hover {
    width: 220px;
}

#sidebar {
    width: 220px;
}

#sidebar li {
    font-size: 20px;
    margin-top: 50px;
}

#sidebar li a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px white;
    font-size: 30px;
}

#sidebar li.active {
    color: white;
    text-shadow: 0px 0px 10px white;
    font-size: 30px;
}

#sidebar .sub-icon {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 25px;
}