.row {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block {
    /*margin-top: 15px;
    padding: 20px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);*/
}

.card {
    background-color: black !important;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.card-body {
    padding-top: 0em !important;
}

#btn-filterViews {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    text-decoration: none !important;
}

#btn-actor-areas-activities-roles {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    text-decoration: none !important;
}

#btn-flows {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    text-decoration: none !important;
}

.dropdown-menu .show {
    max-width: 55vw;
}

.flowFilterSubtitle {
    margin-top: 2em;
}

#activitySelectContainer {
    transition: display 1s;
}

.collapsingHeaderButton {
    width: 95% !important;
    text-align: left;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: .3s transform ease-in-out;
}

#activitySelectChevron {
    color: white;
    font-size: 1.5em;
    position: relative;
    left: -1.05em;
    top: 1.5em;
    float: left;
}

label[for="activity-select"] {
    position: relative;
    left: -1.2em;
}


#flows-render-template {
    margin-bottom: 5em;
}

.sankey-wrapper {
    background-color: #a2a2a2;
    border-radius: 3px;
    width: 100%;
    min-height: 500px;
    touch-action: none;
}

.sankey,
.tooltip,
.oltooltip,
.sankeymaptooltip,
.d3-tip {
    font-family: 'Roboto', sans-serif;
}

.d3-tip h1 {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 2px;
    width: 100%;
}

.d3-tip h2 {
    font-weight: bold;
    font-size: 12px;
    padding-right: inherit;
    padding-left: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
}

.d3-tip h3 {
    font-weight: normal;
    font-size: 8px;
    margin: 0;
    padding: 0;
}

.d3-tip table {
    font-weight: normal;
    font-size: 12px;
    padding: none;
    margin: 0;
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.d3-tip td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.d3-tip .col-left {
    padding-right: 8px;
}

.d3-tip .table-wrapper {
    margin: 0;
    padding: inherit;
    border: none;
}

.d3-tip {
    background-color: #BEBEBE;
    color: black;
    border-radius: 5px;
    max-width: 20em;
    line-height: 1;
    font-weight: normal;
    padding: 8px;
    pointer-events: none;
    box-shadow: 1px 1px 4px grey;
    z-index: 99999;
}

.d3-tip-nodes {
    background-color: darkgrey;
}


.d3-zoom-controls {
    position: absolute;
    left: 10px;
    top: 50px;
}

.d3-zoom-controls a {
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 0px 0;
    font-size: 18px;
    line-height: 2.00;
    display: grid;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    color: #333333;
}

.sankey-help-icon-container {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 30px;
}

.sankey-help-icon-bg {
    color: rgb(33, 37, 41);
    margin-left: 10px;
    font-size: 30px !important;
}

.sankey-help-icon {
    color: white !important;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    font-size: 30px !important;
}

.sankey-help-icon:hover {
    color: rgb(139, 138, 138) !important;
    transition: color 0.2s ease-in-out;
}

.sankey-help-icon-container a {
    margin: 0px;
}

.sankeyUtilityButtonContainer {
    position: absolute;
    float: right;
    left: 10px;
    bottom: 0px;
    width: 30px;
}

.sankeyUtilityButtonContainer button {
    background-color: white;
    border-radius: 18px !important;
    color: #333333;
    height: 32px;
    width: 32px;
    position: relative;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
}

.sankeyUtilityButtonContainer button:hover {
    background-color: rgb(139, 138, 138) !important;
}

.d3-overlay {
    position: absolute;
    font-size: 1em;
    opacity: 0.8;
    padding: 3px 7px 3px 7px;
}

div.fullscreen {
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}