{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}TUDelft | Welcome{% endblock %}

{% block content %}
{% render_bundle "Welcome" %}
<!-- <div id='welcome-map' style="position: fixed; width: 100%; height: 100%;"></div>
<div style="position: relative">
  <h1 style="text-align: center; font-size: 50px; color: black; text-shadow: 0px 0px 30px #FFFFFF; padding-top: 100px;">
    Welcome to Cinderela!</h1>
</div> -->



{% comment %} <div id='welcome-map' style="width: 100%; height: 88vh;"></div> {% endcomment %}
{% comment %} <div style="position: absolute; top: 0px; z-index: 999; margin: auto; width: 100%;"> {% endcomment %}
<div style="margin: auto; margin-top: 1rem; width: 100%; height: 90vh">

  <div class="homepage-message">
    <div class="gradient">
      <img src="../static/img/nav/nav-logo.png">
      <span>The open-source platform that maps, analyses and predicts resource flows as the essential trigger for a Circular Economy.</span>
    </div>
  </div>

  <div class="corner-wrapper" style="height: 100%">
    <iframe src="https://d37rwqu8fuhb92.cloudfront.net/" style="border:0px #ffffff none;" name="geofluxus-arclayer" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="100%" width="100%" allowfullscreen></iframe>
  </div>

  {% comment %} <h1 style="text-align: center; font-size: 50px; color: black; text-shadow: 0px 0px 30px #FFFFFF; padding-top: 100px;">
    Welcome to Cinderela!</h1> {% endcomment %}
</div>


{% endblock %}