{% extends "base.html" %}
{% load static %}
{% block title %}
Wachtwoord (opnieuw) instellen
{% endblock title %}


{% block content %}

{% if validlink %}

<div>
  <h1>Wachtwoord (opnieuw) instellen</h1>
</div>
<form method="POST" style="color: white;">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Verander wachtwoord" style="padding: 10px;">
</form>

{% else %}

<p>
  De link voor het (opnieuw) instellen van het wachtwoord is ongeldig. Waarschijnlijk omdat deze al gebruikt is.<br>
  Mocht u uw wachtwoord willen veranderen, stuur dan een nieuw verzoek via <a href="https://app.geofluxus.com/password_reset/">geoFluxus</a>
</p>

{% endif %}
{% endblock %}