{% extends "base.html" %}
{% load static %}
{% block title %}
Wachtwoord (opnieuw) instellen of gebruikersnaam vergeten?
{% endblock title %}

{% block content %}
  <div>
    <h1>Wachtwoord (opnieuw) instellen of gebruikersnaam vergeten?</h1>
  </div>
  <p>
    Maak een (nieuw) wachtwoord aan door hieronder de email die gelinkt
    is aan je account in te vullen.<br>
    Dan sturen wij de instructies voor het
    maken van een nieuw wachtwoord met daarin je gebruikersnaam.
  </p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Verstuur instructies" style="padding: 10px;">
  </form>
{% endblock %}
