{% load i18n %}{% autoescape off %}
{% blocktranslate %}
Je ontvangt deze mail omdat er een verzoek is gestuurd voor het opnieuw
instellen van een wachtwoord op je geoFluxus account.
Mocht je dit verzoek niet hebben verstuurd, dan kan je deze mail negeren.
{% endblocktranslate %}

{% translate "Klik op de onderstaande link om een nieuw wachtwoord in te stellen: " %}
{% block reset_link %}
{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}
{% endblock %}
{% translate 'Voor het geval dat je je gebruikersnaam bent vergeten, je gebruikersnaam is:' %} {{ user.get_username }}
{% translate 'Als je deze mail hebt verstuurd omdat je je gebruikersnaam bent vergeten, maar niet je wachtwoord: het oude wachtwoord is nog actief.' %}

{% translate "Bedankt voor het gebruiken van geoFluxus!" %}

{% blocktranslate %}
Met vriendelijke groet,

Het geoFluxus team
{% endblocktranslate %}

{% endautoescape %}
