{% extends "base.html" %}
{% load static %}
{% block title %}
Wachtwoord (opnieuw) instellen of gebruikersnaam vergeten?
{% endblock title %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/password_reset.css" />
  <div id="password_reset">
    <h1>Wachtwoord (opnieuw) instellen of gebruikersnaam vergeten?</h1>

    <p id="password_reset_text">
      Maak een (nieuw) wachtwoord aan door hieronder de email die gelinkt
      is aan je account in te vullen.<br>
      Dan sturen wij de instructies voor het
      maken van een nieuw wachtwoord met daarin je gebruikersnaam.
    </p>

    <form method="POST" id="password_reset_form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Verstuur instructies" id="password_reset_button">
    </form>
  </div>
{% endblock %}
