{% extends "base.html" %}
{% load static %}
{% block title %}
Check je inbox
{% endblock title %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/password_reset.css" />
  <div id="password_reset">
    <h1>Check je inbox</h1>

    <p id="password_reset_text">
      We hebben een email met instrucies voor het (opnieuw) instellen van je
      wachtwoord verstuurd.<br>
      Je zal deze binnen een paar minuten ontvangen!
      Mocht je de mail niet ontvangen, kijk dan in je spambox.
    </p>
  </div>
{% endblock %}