{% extends "base.html" %}
{% load static %}
{% block title %}
Wachtwoord (opnieuw) instellen
{% endblock title %}


{% block content %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/password_reset.css" />
  <div id="password_reset">
    {% if validlink %}
      <h1>Wachtwoord (opnieuw) instellen</h1>

      <p id="password_reset_text"></p>

      <form method="POST" id="password_reset_form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Verander wachtwoord" id="password_reset_button">
      </form>

    {% else %}
      <p id="password_reset_text">
        De link voor het (opnieuw) instellen van het wachtwoord is ongeldig. Waarschijnlijk omdat deze al gebruikt is.<br>
        Mocht u uw wachtwoord willen veranderen, stuur dan een nieuw verzoek via <a href="/password_reset/">geoFluxus</a>
      </p>
    {% endif %}
  </div>
{% endblock %}