<script type="text/template" id="impact-template">

    <div class="block">
        <h4 class="pb-2 pl-3">Step 3: Choose an indicator</h4>

        <div class="card bg-dark">
            <div class="row">
                <div class="col mt-3">
                    <span style="color: white">Pick an indicator of environmental impact:</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col d-flex align-items-center mr-auto">

                    <div class="btn-group btn-group-toggle flex-wrap justify-content-center" id="radio-group-impact-indicator"
                    data-toggle="buttons" style="margin: auto">
                    
                        <label class="btn btn-sm btn-primary justify-content-center align-items-center big-radio-no-image impact-indicator-radio-label" data-indicator="co2">
                            <input type="radio">
                            <span>CO<sub>2</sub></span>
                        </label>
                        <label class="btn btn-sm btn-primary justify-content-center align-items-center big-radio-no-image impact-indicator-radio-label" data-indicator="nox">
                            <input type="radio">
                            <span>NO<sub>x</sub></span>
                        </label>
                        <label class="btn btn-sm btn-primary justify-content-center align-items-center big-radio-no-image impact-indicator-radio-label" data-indicator="nox">
                            <input type="radio">
                            <span>Particulate matter</span>
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block impactSourceContainer" style="display: none;">
        <h4 class="pb-2 pl-3">Step 4: Define the impact source</h4>

        <div class="card bg-dark">
            <div class="row">
                <div class="col mt-3">
                    <span style="color: white">Pick the source(s) of environmental impact:</span>
                </div>
            </div>

            <div class="row mt-2 pb-4">
                <div class="col-md-4">
                    <div class="checkbox">
                        <input name="impact-source-transportation" class="bootstrapToggle impactSourceToggle"
                            id="impact-source-toggle-transportation" type="checkbox" data-width="100%" data-height="21"
                            data-toggle="toggle" data-source="transportation" data-on="Transportation"
                            data-off="Transportation">
                    </div>
                </div>
           
                <div class="col-md-4">
                    <div class="checkbox">
                        <input name="impact-source-treatment" class="bootstrapToggle impactSourceToggle"
                            id="impact-source-toggle-treatment" type="checkbox" data-width="100%" data-height="21"
                            data-toggle="toggle" data-source="treatment" data-on="Waste treatment"
                            data-off="Waste treatment">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="checkbox">
                        <input name="impact-source-econ-activity" class="bootstrapToggle impactSourceToggle"
                            id="impact-source-toggle-econ-activity" type="checkbox" data-width="100%" data-height="21"
                            data-toggle="toggle" data-source="economicActivity" data-on="Economic activity"
                            data-off="Economic activity">
                    </div>
                </div>
            </div>
    
        </div>
    </div>

</script>