{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load custom_tags %}

{% block title %}geoFluxus | Analyse{% endblock %}

<!-- {% block sidebar %}
    <script>
      document.getElementById("status-quo-link").classList.add('active');
    </script>
    <ul class="nav nav-pills nav-stacked" id="sidebar">
      <li class="active"><a href="#flows" data-toggle="pill"><span class="sub-icon fas fa-recycle"></span>Flows</a></li>
    </ul>
{% endblock %} -->

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/analyse.css" />
    {% if request.user|password_expired %}
        <div class="tab-content">
          <div style="
              max-width: fit-content;
              margin-left: auto;
              margin-right: auto;
              background-color: red;
              padding: 10px;
              border-radius: 30px;
          ">
            <span style="color: white;">
                <strong>
                Uw huidige wachtwoord is meer dan 180 dagen oud!
                Reset het <a href="/password_reset" style="color: blue;">hier</a> alstublieft.
                </strong>
            </span>
          </div>
    {% endif %}

      <!-- Filters -->
      <div id="filters"></div>
      
    </div>
    {% include "analyse/filters.html" %}
    {% include "analyse/monitor.html" %}
    {% include "analyse/impact.html" %}
    {% render_bundle 'Wasteanalyse' %}
{% endblock %}