{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}geoFluxus | Analyse{% endblock %}

<!-- {% block sidebar %}
    <script>
      document.getElementById("status-quo-link").classList.add('active');
    </script>
    <ul class="nav nav-pills nav-stacked" id="sidebar">
      <li class="active"><a href="#flows" data-toggle="pill"><span class="sub-icon fas fa-recycle"></span>Flows</a></li>
    </ul>
{% endblock %} -->

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/analyse.css" />
    <div class="tab-content">
      <!-- Filters -->
      <div id="filters"></div>
      
    </div>
    {% include "analyse/filters.html" %}
    {% include "analyse/monitor.html" %}
    {% include "analyse/impact.html" %}
    {% render_bundle 'Wasteanalyse' %}
{% endblock %}