files:
    "/opt/elasticbeanstalk/bin/get-config-json":
        mode: "000755"
        content: |
            #!/usr/bin/env bash

            # -----------------------------------------------------
            # Get all environment variables as JSON key value pairs
            # -----------------------------------------------------
            # https://github.com/awsdocs/elastic-beanstalk-samples/issues/111#issue-614915898

            # Get the Region
            ENV_REGION="$(</opt/elasticbeanstalk/config/ebenvinfo/region)"

            # Get the Stack ID
            ENV_STACK_ID="$(</opt/elasticbeanstalk/config/ebenvinfo/stackid)"

            # Pass the variables to the CloudFormation Meta Data command.
            # Pipe the data to JQ to reduce the environment variables array to an actual key value map
            echo "$(sudo /opt/aws/bin/cfn-get-metadata -s ${ENV_STACK_ID} -r AWSEBBeanstalkMetadata --region ${ENV_REGION} -k "AWS::ElasticBeanstalk::Ext.Parameters.EnvironmentVariables" | jq -c '. |= reduce (.[] | split("=")) as [$key, $value] ({}; .[$key] = $value)')"

    "/opt/elasticbeanstalk/bin/export-config":
        mode: "000755"
        content: |
            #!/usr/bin/env bash

            # Run: `export $(sudo ./export-config)`
            # https://stackoverflow.com/questions/48512914/exporting-json-to-environment-variables
            echo $(./get-config-json | jq -r "to_entries|map(\"\(.key)=\(.value|tostring)\")|.[]")


    "/opt/elasticbeanstalk/bin/get-config":
        mode: "000755"
        content: |
            #!/usr/bin/env bash

            # Run: `sudo ./get-config DATABASE_URL`
            echo $(./get-config-json | jq -r ".$1")