{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}TUDelft | Impact{% endblock %}

{% block sidebar %}
    <script>
      document.getElementById("impact-link").classList.add('active');
    </script>
    <ul class="nav nav-pills nav-stacked" id="sidebar">
      <li class="active"><a href="#routing" data-toggle="pill"><span class="sub-icon fas fa-map-marker-alt"></span>Routes</a></li>
    </ul>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/impact.css" />
    <div class="tab-content">
      <!-- Routing -->
      <div class="tab-pane fade show active" id="routing"></div>
    </div>
    {% include "impact/routing.html" %}
    {% render_bundle 'Impact' %}
{% endblock %}