<!--Bulk upload-->
<script type="text/template" id="bulk-upload-template">
  <div class="row">
      <div class='col-md-5' id="uploads">
          <div class="row">
              <div class="col-md-6">
                  <h2>Data Models</h2>
              </div>
              <div class="col-md-6">
                  <select title="File encoding" id="encoding-select" class="form-control" style="float: right; width: 110px;">
                    <option value="utf-8">UTF 8</option>
                    <option value="cp1252">CP 1252</option>
                  </select>
              </div>
          </div>
      </div>
      <div class='col-md-6' id="logs" style="margin-left: 40px;">
          <div class="row">
              <div class="col-md-6">
                  <h2>Log</h2>
              </div>
              <div class="col-md-6">
                  <button type="button" class="btn btn-primary" onclick="document.querySelector('#upload-log').innerHTML = '';" style="float: right;">
                      Clear
                      <span class="fas fa-eraser" style="margin-left: 5px;"></span>
                  </button>
              </div>
          </div>
          <div id="upload-log" class="bordered sunken">
          </div>
      </div>
  </div>
</script>

<!-- a row for a single model api route to bulk upload data to -->
<script type="text/template" id="upload-row-template">
  <div class="upload row bordered" data-tag="<%= apiTag %>">
      <div class="container">
          <div class="row">
            <label><%= label %></label>
            <a href="<%= templateUrl %>" class="template" style="margin-left: 30px;"><span class="far fa-file-alt" style="margin-right: 2px;"></span>Template</a>
          </div>
          <div class="row">
            <input type="file" accept=".xlsx, .tsv, .csv">
            <button class="btn btn-primary upload"  data-tag="<%= apiTag %>" title="Upload File">
              Upload
              <span class="fas fa-arrow-circle-up" style="margin-left: 5px;"></span>
            </button>
          </div>
      </div>
  </div>
  <br><br>
</script>